javapp/freemind/freemind/lib/bindings.jar
javapp/freemind/bin/*
javapp/freemind/freemind/bin/*
javapp/freemind/javapp-tmp/*
javapp/freemind/.project
cide+/freemind/freemind/lib/bindings.jar
cide+/freemind/bin/*
cide+/freemind/freemind/bin/*

